<!--Footer-->
<footer class="footer navbar-fixed-bottom" style="background-color:#f5f5f5">
	<div class="container">
		<p></p>
		<p class="text-muted navbar-right">
			&copy;Donald and Hongchao 2015
		</p>
	</div>
</footer>