<div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
		<p>
			This is some text used to describe the webpage
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/login" role="button">Login With NUSID</a>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="http://img.tarad.com/shop/l/logothailand/img-lib/spd_20080409171035_b.jpg" alt="pic">
				<div class="caption">
					<h3>Feature 1</h3>
					<p>
						Description of feature 1 placed here
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="http://img.tarad.com/shop/l/logothailand/img-lib/spd_20080409171035_b.jpg" alt="pic">
				<div class="caption">
					<h3>Feature 2</h3>
					<p>
						Description of feature 2 placed here
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="http://img.tarad.com/shop/l/logothailand/img-lib/spd_20080409171035_b.jpg" alt="pic">
				<div class="caption">
					<h3>Feature 3</h3>
					<p>
						Description of feature 3 placed here
					</p>
				</div>
			</div>
		</div>
	</div>
</div>