<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= @option1%>"><a href="/events">Open events</a></li>
    <li role="presentation" class="<%= @option2%>"><a href="/events/myevents">My events</a></li>
    <li role="presentation" class="<%= @option3%>"><a href="#">Invited</a></li>
  </ul>
  <!-- This is to leave a gap between the divs -->
  <div style="margin-top:30px"></div>

</div>