<div class="container">
  <form id="eventForm" method="post" action="/events/<%= @event.id%>">
    <input name="_method" type="hidden" value="patch" />
    <%= load_form @event%>
    <%= button_tag "Update", class: "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating event..."}%>
  </form>
</div>

<script>
    $(document).ready(function(){
        var loc = <%= raw @event.to_json%>;
        var replaceDate = $('#date').attr('value');
        $('#date').val(replaceDate);
        gmap_form(loc);    // form map for new view (print nothing with possibility of put marker)
    });
</script>