<%= menu_load 0%>

<div class="container">
  <a class="btn btn-success btn-block btn-lg" href="/events/new" role="button">CREATE EVENT</a>

  <!-- This is to leave a gap between the divs -->
  <div style="margin-top:30px"></div>

  <!-- Renders all the available events -->
  <%= render 'tableofevents'%>

</div>