<div class="container">
  <div class="row col-md-12">
      <div class="page-header">
        <h1>
          Search Results
        </h1>
      </div>
    <%= load_search_results @events%>
  </div>
</div>