<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          About us
        </h1>
      </div>
      <p class="lead">
        We are a team of students who wants to improve in the convenience and ease of relaying information within the campus. Over the course of our NUS days, we have realised that events from various NUS organisations tend to promote their events from all over the places. These events will either be posted on a not so noticeable notice board or their own facebook groups.
        <br><br>
        As a result, students and staffs will often forget about what they saw after walking pass a noticeboard or not knowing the event's existence. Hence we have discovered the perfect solution to this problem.
        <br><br>
        NUS Host is a centralised platform for NUS staffs and students to call out to the entire NUS family about their own events! The aim for this website is for users to conveniently create any sort of events and allow fellow school mates to view them and notify their attendance conveniently!
      </p>
    </div>
  </div>
</div>