<div class="jumbotron">
  <div class="container">
    <h1>NUS HOST</h1>
    <p>
      Getting your events out to the NUS community
    </p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login With NUSID</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://www.screenconnect.com/Images/FeatureIconMultipleInvitationMethods.png" alt="pic">
        <div class="caption">
          <h3>Create events easily</h3>
          <p>
            Simply fill in the event details and it will be viewed by the NUS community.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2010/07/list-icon.png" alt="pic">
        <div class="caption">
          <h3>Never miss out again</h3>
          <p>
            With all NUS events centralised together, browsing through them is a breeze.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://iconsineed.com/icons/picol-vector/group_full-128.png" alt="pic">
        <div class="caption">
          <h3>One-click registration</h3>
          <p>
            A simple click will record your consent to join hosted events.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>